<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="message.html" rel="keep-params">Message</a>
                </li>
                <li class="sidebar-brand">
                    <a href="video.html" rel="keep-params">Video</a>
                </li>
                <li class="sidebar-brand">
                    <a href="index.html">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle" rel="keep-params">Menu</a>
            <br>
            <!-- <div align="center">
                <div class="row">
                  <div class="col-xs-6">
                     <button type="button" class="btn btn-warning" ng-click="Cancel()"  aria-haspopup="true" aria-expanded="false" style="width:50%"><font size="6">Cancel</font></button>
                  </div>
                 <div class="col-xs-6">
                      <button type="button" class="btn btn-success" ng-click="Proceed()" aria-haspopup="true" aria-expanded="false" style="width:50%"><font size="6">Proceed</font></button>
                  </div>
             </div> -->
              <!-- <div class="btn-group btn-group-justified">
                  <a href="#" class="btn btn-default">Left</a>
                  <a href="#" class="btn btn-default">Middle</a>
                  <a href="#" class="btn btn-default">Right</a>
                </div> -->
                <div id="welcome-message"></div>
                <h1>Call for Assistance</h1>
                <br>
                <div>
                    <a id="bathroom"  class="btn btn-danger btn-lg btn-block">Bathroom</a>
                     
                </div>
                <br> 
                <div>
                    <a id="dressing"  class="btn btn-info btn-lg btn-block">Dressing</a>

                </div>
                <br>
                <div>
                  <a id="transfer"  class="btn  btn-warning btn-lg btn-block">Transfer</a>
                    
                </div>
                <br>
                <div>
                  <a id="hygiene"  class="btn  btn-warning btn-lg btn-block">Hygiene</a>
                </div>
                <br>
                <div>  
                  <a id="other"  class="btn  btn-danger btn-lg btn-block" >Other </a>
                </div>
               <!--This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas. -->
               <!-- Make sure to keep all page content within the <code>#page-content-wrapper</code>. -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script src="js/dashboard.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
